{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es2024": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "warn",
    "no-underscore-dangle": "warn"
  },
  "settings": {
    "react": {
      "version": "19"
    }
  }
}